<!-- Views/Oils/Index.cshtml -->
@using OilChangeApp.Data
@model IEnumerable<Oil>

@section Styles {
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
}

@{
    ViewData["Title"] = "لیست روغن‌ها";
}

<div class="mt-5 col-12 col-md-10 d-flex  mx-auto justify-content-center flex-column">
    <h3 class="mb-4 fs-5 fw-bold border-bottom pb-2">@ViewData["Title"]</h3>

    <p>
        <a asp-action="Create" class="btn btn-success  ms-3  fs-6 d-flex justify-content-between align-items-center" style="border-radius:8px;width:200px">
            <span>ایجاد روغن جدید</span>
            <i class="fas fa-plus"></i>         

        </a>
    </p>

    <div class="row">
        @foreach (var oil in Model)
        {
            <div class="col-md-3 mt-3 mt-md-0">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@oil.Name</h5>
                        <p class="card-text">@oil.Description</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex justify-content-around" role="group">
                            <a asp-action="Details" asp-route-id="@oil.Id" style="border-radius:8px" class="btn btn-info btn-sm " data-bs-toggle="tooltip" data-bs-title="جزئیات">
                                <i class="fas fa-wrench"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@oil.Id" style="border-radius:8px" class="btn btn-warning btn-sm mx-3" data-bs-toggle="tooltip" data-bs-title="ویرایش">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@oil.Id" style="border-radius:8px" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-title="حذف">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>